@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Zen+Antique&display=swap');;

body{ font-family: Zen Antique, sans-serif;
        font-weight: 400;
        margin: 0;
        border: 0;}
        
        
    h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 5px;
}

a {text-decoration: none;}

#head {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 250%;
    text-transform: uppercaseS;
    padding: 10px 20px;
    background-color: rgb(248, 185, 131);
    color: rgb(33, 96, 190);
}



.hero {
    width: 950px;
    height: 70%;
    float: right;
}