*
{
    margin:0;
    padding: 0;
    border: 10%;
    }

.background-image {
    background-image: url(..//images/beach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-weight: 300%;
    letter-spacing: 5px;
    margin: 20%;
    border-top: 80;
    }
header {
    color: rgb(217, 219, 221);
    padding:0;
    margin: 0;
    border: 0;
    }
  
h2 {font-family: 'Times New Roman', Times, serif;
    font-weight:100;
    text-align: center;
    letter-spacing: 3px;
    padding:0;

}

a {text-decoration: none;}

#head {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 250%;
    text-transform: uppercaseS;
      
}

#Navigation  {
    font-size: 120%;
    letter-spacing: 3px;
    }

#Navigation li {
    list-style-type: none;
    display: inline-flex;
    padding:5px ;
    color: rgb(217, 219, 221);
}

#Navigation a:hover {
    border-bottom: 1px solid grey;
}

.visited {border-bottom: 1px solid black;}


.hero {
    width: 950px;
    height: 70%;
    float: right;
}