*
{
    margin:0;
    padding: 0;
    border: 0;
    }

.background-image {
    background-image: url(..//images/beach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-weight: 400%;
    letter-spacing: 5px;
    margin: 20%;
    border-top: 80;
    }
header {
    color:#ccccff;;
    padding: 1px;
    margin: 0;
    border: 0;
    }
  
h2 {font-family: 'Times New Roman', Times, serif;
    font-weight:800;
    text-align: center;
    letter-spacing: 3px;
    padding: 5px;
    text-shadow: 2px 2px 5px black;

}

a {text-decoration: none;}

#head {
    text-align: center;
    font-size: 400%;
    color: #ccccff;
    text-shadow: 4px 4px 5px black;
    letter-spacing: 5px;
    font-family: cursive;
    line-height: 1;
      
}

#Navigation {
    font-size: 120%;
    letter-spacing: 3px;
    
    }

#Navigation li {
    list-style-type: none;
    display: inline-flex;
    padding:5px ;

}

#Navigation a:hover {
    border-bottom: 1px solid grey;
    color: #ccccff;

}

.visited {border-bottom: 2px solid black;}

.main-content {
    height: 600px;
    padding: 100px 20px;
}

.tagline {
    padding-top: 100px;
      
}

footer {
   
   text-align: left;
   padding: 0px 4%;
    background-color: #c19a6b;
    margin: none;
    border-top: thin solid #ccccff  ;

}
.social-media {
    float:right;
    letter-spacing:3px;
    margin-left: 20px;
    font-weight: 200;
    width: 33%;
    margin-block-start: 4em;
    margin-block-end: 1em;
   
               }
               
#contact {
   
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.contact-left {float: inline-start;}
    
    


